* {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  background: #15686B;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas,
canva {
    box-shadow: 0.2em 0.2em 2em #0008;
    border: none;
    outline: none;
  }